/* Reset CSS */

/* Remove margens e preenchimentos padrão, e define box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove o padding e a margem do body */
body {
    margin: 0;
    padding: 0;
}

section input{

    border: none; /* Remove a borda padrão */
}

section button {
    
    border: none; /* Remove a borda padrão */
}
.item-resultado a {

    text-decoration: none; /* Remove o sublinhado padrão dos links */
}